.whythis{
    background-image: url('../../assets/images/Bride-7.jpg') ;
    opacity: 0.80;
    height: 55vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.whythisdescription{
    color: rgb(13, 10, 39);
    background-color: #021523c2;
    color: whitesmoke;
}
.imgDiv{
    /* background-image: url('../../assets/images/why.png') ; */
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:50%;
    height:50vh;
    background-color: #021523c2;
    float:left
}
.aboutCeo{
    background-image: url('../../assets/images/about-ceo.png') ;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:50vh;
    width:50%;
}
.ceoDescription{
    color: rgb(83, 47, 47);
    
}
.ceoDescriptiontext{
    line-height: 3.8rem;
    font-size: 14px;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}